<div class="blueprintue" style="display: block; position:relative; padding-top: 56.25%; margin-bottom: var(--spacer); border-radius: var(--border-radius);">
    {%- assign bpurl = 'https://blueprintue.com/render/' | append: id | append: '/' -%}
    <iframe src="{{ bpurl }}" style="position:absolute; top:0; left:0; width:100%; height: 100%;" scrolling="no" allowfullscreen></iframe>
</div>
<div class="bpuecopy">
    <button style="display:block; position:relative; width:100%;" onclick="">Copy this blueprint</button>
    <em>Click the button above, it will automatically copy blueprint in your clipboard. Then in Unreal Engine blueprint editor, paste it with Ctrl+V</em>
</div>